body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

h2 {
  font-size: 30px;
  line-height: 24px;
}


h3{
  font-size: 21px;
  line-height: 26px;
}

p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;

}

.container {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-navigation {
 
}

.navigation-left,
.navigation-right {
  width: 330px;
}

.navigation-left {
  float: left;
}

.navigation-right {
  float: right;
}

.index-logo {
  float: left;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-background {
  width: 1200px;
  
}

.description {
  width: 1200px;
  min-height: 215px;
  background-color: #ffffff;
}


.reason-list {

  min-height: 330px;
}

.features-info {
  float: left;
  width: 33%;
  background-color: #81b3d2;
}

.features-img {
  float: left;
  width: 66%;
}

.features-inverse .features-info {
  float: right;
}


.reason-list .reason-item {
  float: left;
  width: 33%;
  background-color: #ffffff;

}

 .reason-gray .reason-item {
  background-color: #eeeeee;
}

.interested {
  background-color: #ffffff;
  height: 292px;
}

.find-hotel-sedona {
  width: 568px;
  height: 87px;
  background-color: #766357;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;

}

form {
  width: 570px;
  height: 395px;
  margin: 0 auto;
}

.footer-tag {
  float: left;
  width: 33%
}

.footer-social {
  float: left;
  width: 33%
}

.footer-copyright {
  float: right;
  width: 33%
}

.searching-field {
  background-color: #e122ee;
  min-height: 217px;
}

.filter-item {
  float: left;
}

.filter-right {
  float: right;
}

.founded {
  height: 85px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.founded-title {
  float: left;
}

.founded-list {
  float: left;
}

.founded-arrows {
  float: right;
}


.hotel-item {
  height: 150px;
  background-color: #ffffff;
}

.hotel-img {
  float: left;
}

.hotel-info {
  float: left;
}

.hotel-status {
  float: right;
}